<div class="ngx-resize-detector-container">
  <div class="ngx-resize-detector-container__title">ngxResizeDetector</div>

  <div class="ngx-resize-detector-container__body">
    <div class="ngx-resize-detector-container__body-left">
      <div class="resize-area">
        <div class="resize-area-title"># Resize the box below 👇</div>
        <div class="resize-area-box"
             ngxResizeDetector
             [debounce]="controls.debounce.value"
             [delay]="controls.delay.value"
             [disabled]="controls.disabled.value === '1'"
             [distinctUntilChanged]="controls.distinctUntilChanged.value"
             (onDimensionsChange)="onDimensionChange($event)">
        </div>
      </div>
      <div class="controls">
        <div class="controls-title"># Controls 🔧</div>
        <div class="controls-form">
          <div class="controls-form-section">
            <span>Debounce (in milliseconds)</span>
            <input [formControl]="controls.debounce" type="number" min="0">
          </div>
          <div class="controls-form-section">
            <span>Delay (in milliseconds)</span>
            <input [formControl]="controls.delay" type="number" min="0">
          </div>
          <div class="controls-form-section">
            <span>Disabled ( boolean )</span>
            <select [formControl]="controls.disabled">
              <option [value]="0">False ( listen to event )</option>
              <option [value]="1">True ( stop events emission )</option>
            </select>
          </div>
          <div class="controls-form-section mt-4">
            <span>Distinct Until Changed</span>
            <div class="checkbox-section">
              <span class="checkbox" *ngFor="let option of elementDimensionOptions">
                <input type="checkbox" id="{{option.value}}"
                       [checked]="controls?.distinctUntilChanged?.value?.includes(option.value)"
                       (change)="onDistinctUntilChangeOptionCheck(option.value)">
                <label for="{{option.value}}">{{option.label.replace('_', ' ') | titlecase}}</label>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ngx-resize-detector-container__body-right">
      <div class="resize-logs">
        <div class="resize-logs-title"># Resize logs 📃</div>
        <div class="resize-logs-body">
          <div class="resize-log" *ngFor="let log of dimensionsLog">{{jsonToString(log)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
