<div class="ngx-resize-detector-container">
  <div class="ngx-resize-detector-container__title">ngxResizeDetector</div>

  <div class="ngx-resize-detector-container__body">
    <div class="ngx-resize-detector-container__body-left">
      <div class="resize-area">
        <div class="resize-area-title"># Resize the box below 👇</div>
        <div class="resize-area-box"
             ngxResizeDetector
             [debounce]="controls.debounce.value"
             [delay]="controls.delay.value"
             (onDimensionsChange)="onDimensionChange($event)">
        </div>
      </div>
      <div class="controls">
        <div class="controls-title"># Controls 🔧</div>
        <div class="controls-form">
          <div class="controls-form-section">
            <span>Debounce (in milliseconds)</span>
            <input [formControl]="controls.debounce" type="number" min="0">
          </div>
          <div class="controls-form-section">
            <span>Delay (in milliseconds)</span>
            <input [formControl]="controls.delay" type="number" min="0">
          </div>
        </div>
      </div>
    </div>
    <div class="ngx-resize-detector-container__body-right">
      <div class="resize-logs">
        <div class="resize-logs-title"># Resize logs 📃</div>
        <div class="resize-logs-body">
          <div class="resize-log" *ngFor="let log of dimensionsLog">{{jsonToString(log)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
